<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Video Player</title>
  </head>
  <body>
    <div id="app">
      <h2>{{ message }}</h2>
      <video :src="videoUrl" controls autoplay></video>
      <ul>
        <li v-for="file in files" :key="file.magnet">
          {{ file.fileName}}
          <button @click="play(file)">Play</button>
        </li>
      </ul>
    </div>
  </body>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          activeVideo: {},
          files: [
            {
              magnet: 'b9ca4a24fe1561f4ac18679ea7a3764b24eccb9d',
              fileName: 'Temnyie.ochki.2022.BDRip.1080p.ELEKTRI4KA.UNIONGANG.mkv'
            },
            {
              magnet: '7227ca2f6f4e6eb49bcb624d60ea27b5e388b4ab',
              fileName: 'The.Guardians.of.the.Galaxy.Holiday.Special.2022.1080p_[scarfilm.org].mkv'
            }
          ],
          message: 'MovieLib'
        }
      },
      computed: {
        videoUrl: ({ activeVideo }) =>
          activeVideo.fileName ? `/stream/${activeVideo.magnet}/${activeVideo.fileName}` : ''
      },
      methods: {
        async play(file) {
          const response = await axios.get(`/stream/add/${file.magnet}`)
          this.activeVideo = file
        }
      }
    }).mount('#app')
  </script>
</html>
